.container {
  display: grid;
  grid-gap: 1.5rem;
  width: 25rem;
}

.el {
  height: 5.5rem;
  background-color: var(--color-grey-light-3);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
}

.paragraph{
  
    color: var(--color-grey-dark-1);
    font-size: 1.75rem;
    margin-left: 1rem;
}
.close{
  color: black;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: 0.5rem;
  cursor: pointer;
}

